# Conexão com PostgreSQL
psycopg2-binary==2.9.10

# Manipulação de dados
pandas==2.2.3
numpy==2.2.5

# Visualização de dados
matplotlib==3.10.1
seaborn==0.13.2
plotly==6.0.1

# Jupyter
# jupyter==1.0.0
# notebook==6.5.4
